<!doctype html>
<html lang="en">
{{ template "part_head.html" }}
{{ template "part_nav.html" . }}

<body>

    <div class="container" style="padding-top: 1rem;">
        <ul>
            {{ if .Entries }}
            {{range .Entries}}
            <li class="list-group-item list-group-item-action list-group-item-heading">
                <a href="/blog/entry/{{ .Slug }}">
                    <h3>{{.Title}}</h3>
                </a>
                <p class="post-header">Published: {{.Published}} - Updated: {{.Updated}}</p>
            </li>
            <hr>
            {{end}}
            {{ else }}
            <h2>Nothing here yet...</h2>
            {{ end }}
        </ul>

        <nav aria-label="blog page nav">
            <ul class="blog-pages pagination">
                <li class="page-item"><a class="page-link" href="/blog?page=0">new</a></li>
                <li class="page-item"><a class="page-link" href="/blog/archive">archive</a></li>
            </ul>
        </nav>
    </div>

    {{ template "part_footer.html" }}
</body>

</html>