<!doctype html>
<html lang="en">
{{ template "part_head.html" }}
{{ template "part_nav.html" }}

<body>

    <div class="container" style="padding-top: 1rem;">
        <form action="/blog/entry/new" method="post" class="compose">
            <div style="margin-bottom:5px"><input name="title" type="text" class="title" value="{{ .Entry.Title }}"/></div>
            <div style="margin-bottom:5px">
                <textarea name="markdown" rows="30" cols="40" class="markdown">
                    {{ if .Entry }}
                        {{ .Entry.Markdown }}
                    {{ end }}
                </textarea>
            </div>
            <div>
                <div style="float:right"><a href="http://daringfireball.net/projects/markdown/syntax">Syntax documentation</a></div>
                {{ if .Entry }}
                    <input type="submit" value="Save" class="submit"/>
                    &nbsp;<a href="/blog/entry/{{ .Entry.Slug }}">Cancel</a>
                {{ else }}
                    <input type="submit" value="Publish" class="submit"/>
                    &nbsp;<a href="/blog/">Cancel</a>
                {{ end }}
            </div>
          </form>
    </div>
    <script type="text/javascript">      
        $(function() {
            $("input[name=title]").select();
            $("form.compose").submit(function() {
                var required = ["title", "markdown"];
                var form = $(this).get(0);
                for (var i = 0; i < required.length; i++) {
                    if (!form[required[i]].value) {
                        $(form[required[i]]).select();
                        return false;
                    }
                }
                return true;
            });
        });
    </script>
    {{ template "part_footer.html" }}
</body>

</html>
