<!DOCTYPE html>
<html lang="en">
{{ template "part_head.html" . }} {{ template "part_nav.html" . }}

<body>
    <div class="container" style="padding-top: 1rem;">
        <div class="form-group">
            <form name="compose-form" class="compose" method="POST" enctype="multipart/form-data"
                action="/blog/compose{{if .Entry}}?id={{.Entry.ID}}{{end}}">
                <div style="margin-bottom:5px">
                    <label for="title">Title:</label>
                    <input name="title" type="text" class="title" value="{{if .Entry}}{{.Entry.Title}}{{end}}" />
                </div>

                <textarea id="summernote" name="editordata"></textarea><br>
                
                {{ if .Entry }}
                <input type="submit" value="Save" class="submit" />
                &nbsp;<a href="/blog/entry/{{ .Entry.Slug }}">Cancel</a>
                {{ else }}
                <input type="submit" value="Publish" class="submit" />
                &nbsp;<a href="/blog/">Cancel</a>
                {{ end }}
            </form>
            <br /><br />
        </div>
    </div>
    <script src="/static/js/entry.js"></script>

    {{ template "part_footer.html" }}
</body>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            placeholder: 'New entry content',
            tabsize: 2,
            height: 500
        });
        {{ if .Entry }}
            $('#summernote').summernote('code', {{ .Entry.HTML }});
        {{ end }}
    });
</script>>

</html>