<!doctype html>
<html lang="en">
{{ template "part_head.html" }}
{{ template "part_nav.html" . }}

<body>

    <div class="container" style="padding-top: 1rem;">
        <form name="compose-form" class="compose" method="POST" action="/blog/compose{{if .Entry}}?id={{.Entry.ID}}{{end}}">
            <div style="margin-bottom:5px"><input name="title" type="text" class="title" value="{{if .Entry}}{{.Entry.Title}}{{end}}"/></div>
            <div style="margin-bottom:5px">
                <textarea name="markdown" class="markdown-form">
                    {{ if .Entry }}
                        {{ .Entry.Markdown }}
                    {{ end }}
                </textarea>
            </div>
            <div>
                <div style="float:right"><a href="http://daringfireball.net/projects/markdown/syntax">Syntax documentation</a></div>
                {{ if .Entry }}
                    <input type="submit" onclick="saveEntry({{.Entry.ID}})"  value="Save" class="submit"/>
                    &nbsp;<a href="/blog/entry/{{ .Entry.Slug }}">Cancel</a>
                {{ else }}
                    <input type="submit" onclick="publishEntry()" value="Publish" class="submit"/>
                    &nbsp;<a href="/blog/">Cancel</a>
                {{ end }}
            </div>
          </form><br>
    </div>
    <script src="/static/js/entry.js"></script>
    
    {{ template "part_footer.html" }}
</body>

</html>
