<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image Gallery</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail-large">
        <a href="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0001.jpg" target="_blank">
          <img src="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0001.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>The start.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail-large">
        <a href="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0002.jpg" target="_blank">
          <img src="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0002.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Matching transistors.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail-large">
        <a href="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0003.jpg" target="_blank">
          <img src="https://assets.sqweeb.net/images/synthesizers/TTSH/TTSHv4_DIY_Synthesizer_Build_2020_0003.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>First SMD blob job.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<script src="/static/js/gallery.js"></script>

</body>
</html>


