<!doctype html>
<html lang="en">
{{ template "part_head.html" . }} {{ template "part_nav.html" . }}

<body>

    <div class="container" style="padding-top: 1rem;">
        <div class="jumbotron" style="padding-top: 1rem; padding-bottom: 1rem;">
            <article>
                Welcome to the home page. This site is an ongoing project and combination of various tools and projects I've worked on. I'll come back and update this from time to time. - ME
            </article>
        </div>
    </div>

    {{ template "part_footer.html" }}
</body>

</html>