<!DOCTYPE html>
<html lang="en">
{{ template "part_head.html" . }} {{ template "part_nav.html" . }}

<body onload="getStatus()">
    <div class="container" style="padding-top: 1rem;">
        <div class="jumbotron" id="mcstats">
            <h1 id="servername"></h1>
            <div class="alert alert-warning" role="alert" id="mcstatus">
                Server Status: UNKNOWN
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3">
                    <p id="players"></p>
                    <ul id="players_online"></ul>
                </div>
                <div class="col-sm-3">
                    <p id="address"></p>
                </div>
                <div class="col-sm-3">
                    <p id="version"></p>
                </div>
                <div class="col-sm-3">
                    <p id="latency"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card w-auto">
                    <img class="card-img-top" src="/static/images/chicken-farm.png" />
                    <div class="card-body">
                        <h5 class="card-title">Server #1 Highlight</h5>
                        <p class="card-text">Chicken Chicken Farm by EustaceTheMonk</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card w-auto">
                    <img class="card-img-top" src="/static/images/tree-tower.png" />
                    <div class="card-body">
                        <h5 class="card-title">Server #1 Highlight</h5>
                        <p class="card-text">
                            Tree House Fort by cthierererererrr
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card w-auto">
                    <img class="card-img-top" src="/static/images/town-center.png" />
                    <div class="card-body">
                        <h5 class="card-title">Server #1 Highlight</h5>
                        <p class="card-text">Town Center by multiple cool people</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="/static/js/minecraft.js"></script>
        {{ template "part_footer.html" }}
</body>

</html>