<head>
    <title>{{ .PageTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Verification Here -->
    <meta name="google-site-verification" content="3lJ_1tiQG0iSQxh3QEwJVh95kN7gcjQatWeBij3sfUM" />

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/slate.css">
    <!-- Code Prettify CSS -->
    <link rel="stylesheet" href="/static/css/desert.css">

</head>
