{{ template "head.html" }}

<body>
    {{ template "nav.html" }}
    
    <div class="container" style="padding-top: 3rem;">

        <ul>
            {{ if .Posts }}
                {{range .Posts}}
                <a href="/blog/entry/{{ .Slug }}">
                    <h2>{{.Title}}</h2>
                </a>
                <p class="post-header">Published: {{.Published}} - Updated: {{.Updated}}</p>
                <article>
                    {{html .HTML}}
                </article>
                <hr>
                {{end}}
            {{ else }}
                <h2>Nothing here yet...</h2>
            {{ end }}
        </ul>

    </div>

</body>

{{ template "footer.html" }}
