<!doctype html>
<html lang="en">
{{ template "part_head.html" }}
{{ template "part_nav.html" }}

<body>
    
    <div class="container" style="padding-top: 1rem;">

        <ul>
            {{ if .Posts }}
                {{range .Posts}}
                <a href="/blog/entry/{{ .Slug }}">
                    <h2>{{.Title}}</h2>
                </a>
                <p class="post-header">Published: {{.Published}} - Updated: {{.Updated}}</p>
                <article>
                    {{html .HTML}}
                </article>
                <hr>
                {{end}}
            {{ else }}
                <h2>Nothing here yet...</h2>
            {{ end }}
        </ul>

    </div>

    {{ template "part_footer.html" }}
</body>

</html>