<!doctype html>
<html>

{{ template "head.html" }}

<body>
    {{ template "nav.html" }}
    
    <div class="content">

        <ul>
            {{range .Posts}}
            <a href="/blog/post/{{ .ID }}">
                <h2>{{.Title}}</h2>
            </a>
            <p class="post-header">Published: {{.Published}} - Updated: {{.Updated}}</p>
            <article>
                {{html .HTML}}
            </article>
            <hr>
            {{end}}
        </ul>

    </div>

    {{ template "footer.html" }}
</body>

</html>