{{ template "head.html" }}

<body>

    {{ template "nav.html" }}
    <div class="container" style="padding-top: 3rem;">
        <div class="card" style="width: 18rem;float: left;">
            <img class="card-img-top" src="/static/images/chicken-farm.png" alt="Minecraft Yo!">
            <div class="card-body">
                <h5 class="card-title">Minecraft Server Highlight</h5>
                <p class="card-text">Chicken Chicken Farm by EustaceTheMonk</p>
                <a href="http://sqweeb.net:4444/?worldname=world&mapname=surface&zoom=6&x=61&y=64&z=-185" target="new"
                    class="btn btn-primary">See On Map</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;float: left;">
            <img class="card-img-top" src="/static/images/tree-tower.png" alt="Minecraft Yo!">
            <div class="card-body">
                <h5 class="card-title">Minecraft Server Highlight</h5>
                <p class="card-text">
                    Tree House Fort by cthierererererrr
                </p><br>
                <a href="http://sqweeb.net:4444/?worldname=world&mapname=surface&zoom=7&x=210&y=64&z=-63" target="_new"
                    class="btn btn-primary">See On Map</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;float: left;">
            <img class="card-img-top" src="/static/images/town-center.png" alt="Minecraft Yo!">
            <div class="card-body">
                <h5 class="card-title">Minecraft Server Highlight</h5>
                <p class="card-text">Town Center by multiple cool people</p><br>
                <a href="http://sqweeb.net:4444/?worldname=world&mapname=surface&zoom=6&x=93&y=64&z=-93" target="_new"
                    class="btn btn-primary">See On Map</a>
            </div>
        </div>
    </div>

    {{ template "footer.html" }}
</body>